.scroll {
  overflow-x: auto;
}
::-webkit-x-scrollbar {
  overflow-x: auto;
  width: 0px;

  height: 10px;
}

/*style the track of your scrollbar*/

::-webkit-scrollbar-track {
  overflow-x: auto;

  border-radius: 5px;
  background-color: default;
}

/*style the thumb of your scrollbar*/

::-webkit-scrollbar-thumb {
  height: 10px;
  background: #0d6efd;
  border-radius: 15px;
  /* box-shadow: 0px 0px 15px #00ffff; */
}
