.scroll {
  /* overflow-x: auto; */
}
::-webkit-scrollbar.scroll {
  transform: translateY(0, 28px);
  width: 15px;
  height: 15px;
}

/*style the track of your scrollbar*/

::-webkit-scrollbar-track.scroll {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

/*style the thumb of your scrollbar*/

::-webkit-scrollbar-thumb.scroll {
  height: 200px;
  background: #00ffff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #00ffff;
}
