.scroll {
  overflow-x: auto;
  transform: translate(-1.1rem, 0ex);
}
::-webkit-scrollbar {
  overflow-x: auto;
  width: 15px;
  transform: translate(-1.1rem, 0ex);
  height: 15px;
}

/*style the track of your scrollbar*/

::-webkit-scrollbar-track {
  overflow-x: auto;
  transform: translate(-1.1rem, 0ex);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

/*style the thumb of your scrollbar*/

::-webkit-scrollbar-thumb {
  overflow-x: auto;
  transform: translate(-1.1rem, 0ex);
  height: 200px;
  background: #00ffff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #00ffff;
}
