.scroll {
  overflow-x: auto;
}
::-webkit-scrollbar {
  overflow-x: auto;
  width: 15px;

  height: 15px;
}

/*style the track of your scrollbar*/

::-webkit-scrollbar-track {
  overflow-x: auto;

  border-radius: 5px;
  background-color: gray;
}

/*style the thumb of your scrollbar*/

::-webkit-scrollbar-thumb {
  height: 200px;
  background: #00ffff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #00ffff;
}
