@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
:root {
  --header-color: #0d7813;
  /* --button-color :#00000;
  --button-color :#90E7B5; */
  --bg-color: #e9eff3;
  /* #90E7B5 */

  --font: "Archivo", sans-serif;
}

* {
  text-decoration: none;
  font-family: "Archivo", sans-serif;
}

.body {
  font-family: "Archivo", sans-serif;
}
.header {
  color: var(--header-color);
  font-family: "Archivo", sans-serif;
}
.button {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  justify-content: center;
  height: 50px;
  width: 120px;
  gap: 6px;
  border: none;
  border-radius: 10px;
}
.button2 {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  justify-content: center;
  height: 50px;
  width: 70px;
  gap: 6px;
  border: none;
  border-radius: 10px;
}
.button3 {
  display: flex;
  align-items: center;
  background: #90e7b5;
  justify-content: center;
  height: 50px;
  max-width: contain;
  padding: 0px 5px;
  gap: 6px;
  border: none;
  border-radius: 10px;
}
.button4 {
  display: flex;
  align-items: center;
  background: #ff9898;
  justify-content: center;
  height: 50px;
  max-width: contain;
  padding: 0px 5px;
  gap: 6px;
  border: none;
  border-radius: 10px;
}
.image-style {
  width: 55px;
  height: 55px;
  border-radius: 500px;
}
.cardBody {
  background-color: var(--bg-color);
}
