@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
:root {
  --header-color: #0d7813;
  /* --button-color :#00000;
  --button-color :#90E7B5; */
  --bg-color: #e9eff3;
  /* #90E7B5 */

  --font: "Archivo", sans-serif;
}

* {
  text-decoration: none;
  /* list-style: none; */
  font-family: "Archivo", sans-serif;
}

.body {
  font-family: "Archivo", sans-serif;
}
.header {
  color: var(--header-color);
  font-family: "Archivo", sans-serif;
}
.button {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  justify-content: center;
  height: 50px;
  width: 120px;
  gap: 6px;
  border: none;
  border-radius: 10px;
}
.button2 {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  justify-content: center;
  height: 50px;
  width: 90px;
  gap: 6px;
  border: none;
  border-radius: 10px;
}
.button4 {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  justify-content: center;
  height: 50px;
  width: 90px;
  gap: 6px;
  border: none;
  border-radius: 10px;
}
.button3 {
  display: flex;
  font-weight: 500;
  align-items: center;
  background: #90e7b5;
  justify-content: center;
  height: contain;
  min-width: contain;
  padding: 0px 5px;
  gap: 6px;
  border: none;
  border-radius: 10px;
}
.button4 {
  display: flex;
  align-items: center;
  background: #ff9898;
  justify-content: center;
  height: 50px;
  max-width: contain;
  padding: 0px 5px;
  gap: 6px;
  border: none;
  border-radius: 10px;
}
.image-style {
  width: 55px;
  height: 55px;
  border-radius: 500px;
}
.image-styles {
  width: 35px;
  height: 35px;
  border-radius: 500px;
}
.cardBody {
  background-color: var(--bg-color);
  background-color: rgb(169, 184, 195) 100%;
}
.inputs {
  border: var(--bg-color);
  /* align-items: ; */

  background: var(--bg-color);
}
.input- {
  border: 1px solid var(--bg-color);
  outline: none;
}
/* .scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #f5f5f5;
  overflow-y: scroll;
  margin-bottom: 25px;
}
#wrapper {
  text-align: center;
  width: 500px;
  margin: auto;
}
.force-overflow {
  min-height: 450px;
}
#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #000000;
} */

@media only screen and (min-width: 200px) and (max-width: 900px) {
  .button {
    width: 100%;
  }
  .button2 {
    width: 100%;
  }
  .button4 {
    display: block;
  }
  .button3 {
    display: block;
  }
  .inputs {
    width: 96%;
  }
}
.open {
  font-weight: 400;
  transform: translate(0, 28px);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 2rem;
  cursor: pointer;
}
.not-open {
  transform: translate(0, 0px);
  margin-bottom: 2rem;
}
