.navbar-default .navbar-brand {
  font-family: "Poiret One", cursive;
  color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #fec503;
}

.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}

.navbar-default .navbar-toggle {
  border-color: #1ee2e7;
  background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1ee2e7;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: "Poiret One", cursive;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #1ee2e7;
}

.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: #fff;
  background-color: #1ee2e7;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #17d0d5;
}

@media (min-width: 768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }

  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #222;
  }

  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
